@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html,body {
    overflow-x:hidden;
    width: 100%;
    height: 100%;
    transform: translate3d(0,0,0);
    margin:0px;
    padding: 0px;
    background: linear-gradient(-45deg, #ffa600, #ee7752, #ee7752, #111b30,#1cc2ff, #1cc2ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

input::placeholder {
    font-size: small;

}

#logo{
    max-height: 80px;
}

#link{
    display: flex;
    justify-content: center;
    transform: translateY(50px);
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#join-us1{
    text-decoration: none;
    color: #00247285;
    text-align:right;
    transform: translateY(80px);
}

#join-us2{
    text-decoration: none;
    color: #00247285;
    text-align:right;
    transform: translateY(30px);
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    width: 90%;
    height: 420px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);

}

.box .slider {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box .slider > h2 {
    color:#ffffff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 12px;
}

.box .slider > button {
    cursor: pointer;
    padding: 10px 20px;
    background: #ffffff;
    color: #515151;
    font-size: 16px;   
    border:none;
}

.formular {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ffffff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formular.activ {
    left: 50%;
}

.formular .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formular .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formular .form form h3 {
    font-size: 1.5em;
    color: #515151;
    margin-bottom: 20px;
    font-weight: 500;
}

.formular .form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #515151;
    border-radius: 3px; 
}

.formular .form form input[type="submit"] {
    color: #ffffff;
    border: none;
    background: linear-gradient(-45deg, #ffa600, #ee7752, #ee7752, #111b30,#1cc2ff, #1cc2ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    max-width: 120px;
    cursor: pointer;
}

.formular .form form .fp {
    color: #515151ce;
    text-decoration:none;
}
.formular .form form .fp:hover{
    color: #000000;
}

.formular.activ .signinForm {
    left: -100%;
    transition-delay: 0s;
}

.formular .signupForm {
    left: 100%;
    transition-delay: 0s;
}
.formular.activ .signupForm {
    left: 0;
    transition-delay: 0.25s;
}

.formular .signinForm {
    transition-delay: 0.25s;
}

.formular.activ .signupForm input[type="submit"] {
    background: linear-gradient(-45deg, #ffa600, #ee7752, #ee7752, #111b30,#1cc2ff, #1cc2ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    max-width: 120px;
}


@media (max-width:991px){
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .box {
        top: 0;

        height: 100%;
    }
    .formular {
        width: 100%;
        height: 500px;
        box-shadow: none;
    }
    .box .slider.signup{
        width: 100%;
        position: absolute;
        height: 150px;
        bottom: 0;
    }
    .box .slider.signin{
        width: 100%;
        position: absolute;
        height: 150px;
        top: 0;
    }
    .formular.activ {
        left: 0;
        top: 150px;
    }
    #logo{
    max-height: 60px;
    }

}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
    