@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nova+Mono&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);

    background: linear-gradient(
        -45deg,
        #ffa600,
        #ee7752,
        #ee7752,
        #111b30,
        #1cc2ff,
        #1cc2ff
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav {
    margin: 40px 0 40px 0;
}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #111b30;
    color: #ff7b00;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-family: "Nova Mono", monospace;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Nova Mono", monospace;
}

div.container h1 {
    color: #000000;
    text-align: center;
}

.container{
    margin: 2.5%; 
    padding: 20px;
    background: #ffffff;
    border-radius: 16px;
    width: 95%;
}


article h1{
    text-align: center;
    font-size: 24px;
    margin-top:30px;
    color: #111b30;
}

article p{
    border: 1px;
    border-color:#000000;
    border-style: solid;
    border-radius: 10px;
    padding: 4px;
    background-color: #ffffff;
    width: 90vw;
    margin: 1vh 0 1vh 0;
    font-size: 18px;
    max-height: 30vh;
}

article {
    color: #000000;
    margin: 3vh 0 3vh 0;
    background-image: url(assets/background-custom.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

legend{
    font-size: 19px;
    margin-bottom: 12px;
    letter-spacing: -1px;
}

form{
    font-family: "Nova Mono", monospace;
}

input{
    width: 86vw;
    height: 40px;
    font-size: 18px;
    text-align: center;
    font-family: "Nova Mono", monospace;
    border: 1px;
    border-color:#000000;
    border-style: solid;
    border-radius: 10px;
}

input[type="submit"] {
    background: linear-gradient(-45deg, #ffa600, #ee7752, #ee7752, #111b30,#1cc2ff, #1cc2ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #ffffff;
}

/* white space 9px*/

#icon{
    width: 40px;
    height: 40px;
    grid-column-start:2;
    grid-row-end: 2;
    justify-self: end;
}

#email{
    width: 67vw;
    grid-column-start:1;
    grid-row-start: 2;
    justify-self: start;
}

#clasa{
    width: 17vw;
    grid-column-start:2;
    grid-row-start: 2;
    justify-self: end;
}

#part1{
    grid-column-start:1;
    grid-row-start: 1;
    width: calc(86vw - 49px);
    justify-self: start;
}

.part{
    width: 86vw;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    margin-top: 20px;
    row-gap: 9px;
}

#telefon{
    grid-row-start: 3;
}

#proiect{
    margin: 9px 0 0 0;
}

#descriere{
    padding: 4px;
    min-height: 120px;
    max-width: 86vw;
    min-width: 86vw;
    margin: 9px 0 9px 0;
    font-size: 18px;
    text-align: left;
    border: 1px;
    border-color:#000000;
    border-style: solid;
    border-radius: 10px;
    font-family: "Nova Mono", monospace;
}

#sustinator{
    width: 58vw;
    margin-right: 9px;
    justify-self:start;
}

#suporter{
    width: 25vw;
    justify-self:end;
}

.margin{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.in-line{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

#pic1 {
    display: flex;
    justify-content: center;
}

#logo {
    max-height: 40vh;
    max-width: 80vw;
    height: auto;
}

#FAQ{
    border: none;
    background-color: transparent;
    text-align: center;
    height: auto;
    font-size:22px;
}